<mat-toolbar color="primary">
  <div class="container">

    <a routerLink="/" mat-fab color="accent"><mat-icon>home</mat-icon></a>
    <a routerLink="/medicines" mat-raised-button>Medicines</a>
    <a routerLink="/users" mat-raised-button>Users</a>
    <a routerLink="/orders" mat-raised-button>Orders</a>
    <a routerLink="/cart" mat-raised-button>Cart</a>
    <a routerLink="/login" mat-raised-button>Login</a>
    <a routerLink="/signout" mat-raised-button>Signout</a>
    <a routerLink="/signup" mat-raised-button>Signup!</a>

  </div>
</mat-toolbar>
