<div class="page-header">
  <div class="container">
    <h1>Medicines</h1>
  </div>
</div>

<div class="container">

  <div class="row end-xs mt-1">
    <div class="col-xs-12">
      <input type="text" class="search-app" placeholder="Search Medicines"
      [(ngModel)]="filterString"
      (keyup)="filterMedicines()">
      <a routerLink="/medicines/add" mat-raised-button color="primary" class="ml-1">Add Medicine</a>
    </div>
  </div>


  <div class="mt-1 mat-elevation-z8">
    <table mat-table matSort [dataSource]="dataSource" class="">

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Medicine Column -->
      <ng-container matColumnDef="medicineName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Medicine</th>
        <td mat-cell *matCellDef="let element"> {{element.medicineName}} </td>
      </ng-container>

      <!-- Manufacturer Column -->
      <ng-container matColumnDef="manufacturer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Manufacturer</th>
        <td mat-cell *matCellDef="let element"> {{element.manufacturer}} </td>
        <!--{element.dob | date:'mm/dd/yyyy'} -->
      </ng-container>

      <!-- Unit Price Column -->
      <ng-container matColumnDef="unitPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Unit Price</th>
        <td mat-cell *matCellDef="let element"> {{element.unitPrice}} </td>
      </ng-container>

      <!-- Discount Column -->
      <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef>Discount</th>
        <td mat-cell *matCellDef="let element"> {{element.discount}} </td>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>

      <!-- Disease Column -->
      <ng-container matColumnDef="disease">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Disease</th>
        <td mat-cell *matCellDef="let element"> {{element.disease}} </td>
      </ng-container>

      <!-- Uses Column -->
      <ng-container matColumnDef="uses">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Uses</th>
        <td mat-cell *matCellDef="let element"> {{element.uses}} </td>
      </ng-container>

      <!-- Expiry Date Column -->
      <ng-container matColumnDef="expDate">
        <th mat-header-cell *matHeaderCellDef>Expiry Date</th>
        <td mat-cell *matCellDef="let element"> {{element.expDate}} </td>
      </ng-container>

      <!-- Image URL Column -->
      <ng-container matColumnDef="imageUrl">
        <th mat-header-cell *matHeaderCellDef>Image URL</th>
        <td mat-cell *matCellDef="let element"> {{element.imageUrl}} </td>
        <!-- <td mat-cell *matCellDef="let element">.</td>-->
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let element"> {{element.status}}
        </td>
      </ng-container>

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <a [routerLink]="['/medicines', element.id]">
            <mat-icon color="primary">edit</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="100"
              [pageSize]="5"
              [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page">
    </mat-paginator>

  </div>
</div>
